@inject ThemeService ThemeService

@if (!this._initialized)
{
    <div class="loading-screen-inapp">
        <img src="images/vinyl.png" class="vinyl-spin" />
    </div>
}
else
{
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudThemeProvider Theme="@ThemeService.CurrentTheme" IsDarkMode="@ThemeService.IsDarkMode" />

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
}

@code {
    private bool _initialized;

    protected override async Task OnInitializedAsync()
    {
        await this.ThemeService.InitializeAsync();
        this._initialized = true;
    }

    protected override void OnInitialized()
    {
        this.ThemeService.OnThemeChange += StateHasChanged;
    }

    public void Dispose()
    {
        this.ThemeService.OnThemeChange -= StateHasChanged;
    }
}