@inject ThemeService ThemeService
@inject DiscogsClient DiscogsClient
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

<MudPaper Elevation="0" Class="pa-4 d-flex justify-space-between align-center component paper-glass">
    <MudStack Row="false" Spacing="0">

        <MudStack Row="true" Spacing="1">
            <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Small" Style="color: #146617;" />
            <MudLink Typo="Typo.caption" Target="_blank" Href="https://www.discogs.com/developers/">
                Discogs API @(DiscogsVersion)
            </MudLink>
        </MudStack>

        <MudStack Row="true" Spacing="1">
            <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Small" Style="color: #146617;" />
            <MudLink Typo="Typo.caption" Target="_blank" Href="https://github.com/GiulioPorcu/Discogg">
                Application v@(AppVersion)
            </MudLink>
        </MudStack>
        <MudText Typo="Typo.caption" Class="pt-2">
            © @(DateTime.Now.Year) | Giulio Porcu
        </MudText>
    </MudStack>
    @if (CurrentUser != null)
    {
        <MudText Typo="Typo.caption" Class="mt-auto">
            @(Messages.LoggedInAs): @(this.CurrentUser!.UserName)
        </MudText>
    }
    <div class="d-flex align-center mt-auto">
        <MudButton Variant="Variant.Text" Size="Size.Small" Class="footer-button" OnClick="@OpenAboutPageAsync">
            <MudTooltip Text="@(Messages.About)" Color="Color.Primary" Delay="@TOOLTIP_DELAY" Arrow="true" Placement="Placement.Top">
                <MudIcon Icon="@Icons.Material.Filled.Person" />
            </MudTooltip>
        </MudButton>
        <MudButton Variant="Variant.Text" Size="Size.Small" Class="footer-button" OnClick="@OpenColorPickerAsync">
            <MudTooltip Text="@(Messages.Theme)" Color="Color.Primary" Delay="@TOOLTIP_DELAY" Arrow="true" Placement="Placement.Top">
                <MudIcon Icon="@Icons.Material.Filled.Palette" />
            </MudTooltip>
        </MudButton>
    </div>
</MudPaper>

@code {
    private const int TOOLTIP_DELAY = 100;
    private string? AppVersion { get; set; }
    private string? DiscogsVersion { get; set; }
    private OAuth? CurrentUser { get; set; }

    protected override async void OnInitialized()
    {
        this.AppVersion = this.DiscogsClient.ApiVersionInfoService.GetApplicationVersion();
        this.DiscogsVersion = (await this.DiscogsClient.ApiVersionInfoService.GetDiscogsVersionAsync()).ApiVersion ?? "N/A";

        await this.InvokeAsync(this.StateHasChanged);

        // CurrentUser =
    }

    /// <summary>
    /// Opens the theme color picker dialog and persist selection afterwards.
    /// </summary>
    private async Task OpenColorPickerAsync()
    {
        IDialogReference dialog = await this.DialogService.ShowAsync<ColorPickerDialog>();
        await dialog.Result;
        await ThemeService.PersistAsync();
    }

    /// <summary>
    /// Navigates to the About page.
    /// </summary>
    private async Task OpenAboutPageAsync()
    {
        // this.NavigationManager.NavigateTo("/about");
    }
}