@inject ThemeService ThemeService
@inject DiscogsService DiscogsClient
@inject IDialogService DialogService
@inject NavigationManager NavigationManager
@inject VersionInfoService ConnectionInfoService
@inject AuthenticationService AuthenticationService

<MudPaper Elevation="0" Class="pa-4 d-flex justify-space-between align-center component paper-glass">
    <MudStack Row="false" Spacing="0">
        @if (this.ConnectionInfoService.IsConnected)
        {
            <MudStack Row="true" Spacing="1">
                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Small" Style="color: #146617;" />
                <MudLink Typo="Typo.caption" Href="https://www.discogs.com/developers/">
                    Discogs API @(this.ConnectionInfoService.ApiInfo!.ApiVersion)
                </MudLink>
            </MudStack>

            <MudStack Row="true" Spacing="1">
                <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Small" Style="color: #146617;" />
                <MudLink Typo="Typo.caption" Href="https://github.com/GiulioPorcu/Discogg">
                    Application v@(this.ConnectionInfoService.ApplicationVersion)
                </MudLink>
            </MudStack>
        }
        else
        {
            <MudText Typo="Typo.caption">
                <MudIcon Icon="@Icons.Material.Filled.QuestionMark" Size="Size.Small" Style="color: #c10000;" />
                Application
            </MudText>
            <MudText Typo="Typo.caption">
                <MudIcon Icon="@Icons.Material.Filled.QuestionMark" Size="Size.Small" Style="color: #c10000;" />
                Discogs API
            </MudText>
        }
        <MudText Typo="Typo.caption" Class="pt-2">
            © @(DateTime.Now.Year) | Giulio Porcu
        </MudText>
    </MudStack>
    @if (this.AuthenticationService.IsAuthenticated)
    {
        <MudText Typo="Typo.caption" Class="mt-auto">
            @(Messages.LoggedInAs): @(this.AuthenticationService!.User!.UserName)
        </MudText>
    }
    <div class="d-flex align-center mt-auto">
        <MudButton Variant="Variant.Text" Size="Size.Small" Class="footer-button" OnClick="@OpenAboutPageAsync">
            <MudTooltip Text="@(Messages.About)" Color="Color.Primary" Delay="@TOOLTIP_DELAY" Arrow="true" Placement="Placement.Top">
                <MudIcon Icon="@Icons.Material.Filled.Person" />
            </MudTooltip>
        </MudButton>
        <MudButton Variant="Variant.Text" Size="Size.Small" Class="footer-button" OnClick="@OpenColorPickerAsync">
            <MudTooltip Text="@(Messages.Theme)" Color="Color.Primary" Delay="@TOOLTIP_DELAY" Arrow="true" Placement="Placement.Top">
                <MudIcon Icon="@Icons.Material.Filled.Palette" />
            </MudTooltip>
        </MudButton>
    </div>
</MudPaper>

@code {
    private const int TOOLTIP_DELAY = 100;

    protected override async void OnInitialized()
    {
        // Update the "api info" label automatically when connectivity changes
        this.ConnectionInfoService.OnConnectivityChanged += (sender, args) =>
        {
            this.InvokeAsync(this.StateHasChanged);
        };

        this.ConnectionInfoService.OnApplicationVersionFetched += (sender, args) =>
        {
            this.InvokeAsync(this.StateHasChanged);
        };

        // Update the "logged in" label automatically when authentication changes
        this.AuthenticationService.OnAuthenticationChanged += (sender, args) =>
        {
            this.InvokeAsync(this.StateHasChanged);
        };

        await this.ConnectionInfoService.GetApiInfoAsync();
        await this.ConnectionInfoService.GetApplicationVersionAsync();
    }

    /// <summary>
    /// Opens the theme color picker dialog and persist selection afterwards.
    /// </summary>
    private async Task OpenColorPickerAsync()
    {
        IDialogReference dialog = await this.DialogService.ShowAsync<ColorPickerDialog>();
        await dialog.Result;
        await ThemeService.PersistAsync();
    }

    /// <summary>
    /// Navigates to the About page.
    /// </summary>
    private async Task OpenAboutPageAsync()
    {
        this.NavigationManager.NavigateTo("/about");
    }
}