@inject ThemeService ThemeService
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

<MudPaper Elevation="0" Class="pa-4 d-flex justify-space-between align-center component paper-glass">
    <MudText Typo="Typo.caption">
        © @(DateTime.Now.Year) | Giulio Porcu
    </MudText>
    <div class="d-flex align-center">
        <MudButton Variant="Variant.Text" Size="Size.Small" Class="footer-button" OnClick="@OpenAboutPageAsync">
            <MudTooltip Text="About" Color="Color.Primary" Delay="100">
                <MudIcon Icon="@Icons.Material.Filled.Person" />
            </MudTooltip>
        </MudButton>
        <MudButton Variant="Variant.Text" Size="Size.Small" Class="footer-button" OnClick="@OpenColorPickerAsync">
            <MudTooltip Text="Theme Settings" Color="Color.Primary" Delay="100">
                <MudIcon Icon="@Icons.Material.Filled.Palette" />
            </MudTooltip>
        </MudButton>
    </div>
</MudPaper>

@code {
    /// <summary>
    /// Opens the theme color picker dialog and persist selection afterwards.
    /// </summary>
    private async Task OpenColorPickerAsync()
    {
        IDialogReference dialog = await DialogService.ShowAsync<ColorPickerDialog>();
        await dialog.Result;
        await ThemeService.PersistAsync();
    }

    /// <summary>
    /// Navigates to the About page.
    /// </summary>
    private async Task OpenAboutPageAsync()
    {
        this.NavigationManager.NavigateTo("/about");
    }
}