@inject ThemeService ThemeService
@inject DiscogsClient DiscogsClient
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

<MudPaper Elevation="0" Class="pa-4 d-flex justify-space-between align-center component paper-glass">
    <MudStack Direction="Column" Spacing="0">
        <MudText Typo="Typo.caption">
            © @(DateTime.Now.Year) | Giulio Porcu
        </MudText>
        @if (DiscogsClient.IsConnected)
        {
            <MudText Typo="Typo.caption">
                <MudIcon Icon="@Icons.Material.Filled.Circle" Size="Size.Small" Style="color: #146617;" />
                Discogs API @(DiscogsClient.Info!.ApiVersion)
            </MudText>
        }
        else
        {
            <MudText Typo="Typo.caption">
                <MudIcon Icon="@Icons.Material.Filled.Circle" Size="Size.Small" Style="color: #c10000;" />
                Discogs API ?
            </MudText>
        }
    </MudStack>
    @if (this.DiscogsClient.IsAuthenticated)
    {
        <MudText Typo="Typo.caption">
            @(Messages.LoggedInAs): @(this.DiscogsClient!.User!.UserName)
        </MudText>
    }
    <div class="d-flex align-center">
        <MudButton Variant="Variant.Text" Size="Size.Small" Class="footer-button" OnClick="@OpenAboutPageAsync">
            <MudTooltip Text="@(Messages.About)" Color="Color.Primary" Delay="@TOOLTIP_DELAY">
                <MudIcon Icon="@Icons.Material.Filled.Person" />
            </MudTooltip>
        </MudButton>
        <MudButton Variant="Variant.Text" Size="Size.Small" Class="footer-button" OnClick="@OpenColorPickerAsync">
            <MudTooltip Text="@(Messages.Theme)" Color="Color.Primary" Delay="@TOOLTIP_DELAY">
                <MudIcon Icon="@Icons.Material.Filled.Palette" />
            </MudTooltip>
        </MudButton>
    </div>
</MudPaper>

@code {
    private const int TOOLTIP_DELAY = 100;

    protected override async void OnInitialized()
    {
        // Update the "api info" label automatically when connectivity changes
        this.DiscogsClient.OnConnectivityChanged += (sender, args) =>
        {
            this.InvokeAsync(this.StateHasChanged);
        };

        // Update the "logged in" label automatically when authentication changes
        this.DiscogsClient.OnAuthenticationChanged += (sender, args) =>
        {
            this.InvokeAsync(this.StateHasChanged);
        };
        
        await this.DiscogsClient.ConnectAsync();
    }

    /// <summary>
    /// Opens the theme color picker dialog and persist selection afterwards.
    /// </summary>
    private async Task OpenColorPickerAsync()
    {
        IDialogReference dialog = await this.DialogService.ShowAsync<ColorPickerDialog>();
        await dialog.Result;
        await ThemeService.PersistAsync();
    }

    /// <summary>
    /// Navigates to the About page.
    /// </summary>
    private async Task OpenAboutPageAsync()
    {
        this.NavigationManager.NavigateTo("/about");
    }
}